<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"
    />
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/" />

    <!-- Compiled CSS (TailwindCSS) -->
    <link
      href="{{ url_for('static', filename = 'build.css') }}"
      rel="stylesheet"
    />

    <!-- JS -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    <title>{% block title %}{% endblock %} | Merivale iGEM 2023</title>
  </head>
  <body>
    <!-- Navigation -->
    <!-- {# {% include 'menu.html' %} #} -->

    <!-- Header -->
    {% if show_header %}
    <header>
      <div>
        <div>
          <div>
            <h1>{{ self.title() }}</h1>
            <p>{% block lead %}{% endblock %}</p>
          </div>
        </div>
      </div>
    </header>
    {% endif %}

    <!-- Page Content -->
    <main>{% block page_content %}{% endblock %}</main>

    <!-- Footer: MUST mention license AND have a link to team wiki's repository on gitlab.igem.org -->
    {% include 'footer.html' %}
  </body>
</html>
