/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: bold; /* Make the logo text bold */
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    position: relative;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-right: 20px;
}

/* Create the line animation using ::before pseudo-element */
a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00b7ff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

li:hover a::before {
    width: 80%;
}